extends layout

block content
 h1.pl= title
 p.pl "Film, also called movie or motion picture, is a medium used to simulate experiences that communicate ideas, stories, perceptions, feelings, beauty or atmosphere by the means of recorded or programmed moving images along with other sensory stimulations.The word "cinema", short for cinematography, is often used to refer to filmmaking and the film industry, and to the art form that is the result of it."
 p.pl "The moving images of a film are created by photographing actual scenes with a motion-picture camera, by photographing drawings or miniature models using traditional animation techniques, by means of CGI and computer animation, or by a combination of some or all of these techniques, and other visual effects."